extends ../../index

block pageContent
  article(class='object object-' + object.slug)
    header
      img(src='/img/captains/' + object.slug + '.png', 
          alt= object.name + ' - ' + object.category,
          title=object.name + ' - ' + object.category)
      
      dl.meta 
        dt Name:
        dd= object.name
        hr
        dt Category:
        dd= object.category
        hr
        dt Fleet:
        dd
          a(href='/shipgen/fleets/' + object.fleet.slug)= object.fleet.name
        hr
      
      
    div.values 
      dl
        dt Strength:
        dd= object.strength
        hr

        dt Aim:
        dd= object.aim
        hr

        dt Initiative:
        dd= object.initiative
        hr

        dt Morale:
        dd= object.morale
        hr
          
          
    div.excerpt= object.desc

    if object.perks
      footer
        div.perks 
          ul
          lh Perks:
          for perk in object.perks
            li
              a(href='/shipgen/people/perks/' + perk.slug)= perk.name
