extends ../../index

block pageContent
  article(class='object object-' + object.slug) 
    header
      img(src='/img/frames/' + object.slug + '.png', 
          alt= object.name + ' - ' + object.category, 
          title= object.name + ' - ' + object.category)
      
      dl.meta 
        dt Name:
        dd= object.name
        hr
        dt Category:
        dd= object.category
        hr
        dt Class:
        dd 
          a(href='/shipgen/classes/' + object.class.slug)= object.class.name
        hr
        dt Fleet:
        dd
          a(href='/shipgen/fleets/' + object.fleet.slug)= object.fleet.name
            
  

    dl
      dt Size
      dd #{object.size} cm
      hr
      dt Cost
      dd #{object.cost} pts
