extends ../../../index

block title{{ config.title|raw  - engines

block pageContent
  if objects
    for object in objects
      article(class='object object-' + object.slug)
        header
          a(href='/shipgen/mods/weapons/' + object.slug)
            img(src='/img/mods/weapons/' + object.slug + '.png',
                alt= object.name + ' - ' + object.class.name + '-weapon',
                title= object.name + ' - ' + object.class.name + '-weapon')

          dl.meta
            dt Name:
            dd
              a(href='/shipgen/mods/weapons/' + object.slug)= object.name
            hr

            dt Class:
            dd
              a(href='/shipgen/classes/' + object.class.slug)= object.class.name
            hr

        div.values
          dl.attributes
            dt Size:
            dd #{object.size} cm
            hr

            dt Strength:
            dd= object.strength
            hr

            dt Regen:
            dd= object.regen
            hr

            dt Consume:
            dd= object.consume
            hr

            dt Cost:
            dd #{object.cost} pts
            hr
          div.excerpt= object.excerpt
         
      
  


