extends ../../index

block title
  !{config.title}  - perks

block pageContent
  for object in objects
    article(class='object object-' + object.slug) 
      header
        a(href='/shipgen/people/perks/' + object.slug)
          img(src='/img/people/perks/' + object.slug + '.png', alt= object.name, title= object.name)
        dl.meta 
          dt Name:
          dd
            a(href='/shipgen/people/perks/' + object.slug)= object.name
          hr
          dt Cost:
          dd= object.cost
          hr
          dt CostMultiply:
          dd= object.costMultiply
          hr

      div.values 
        dl
          dt Strength:
          dd= object.strength
          hr

          dt Aim:
          dd= object.aim
          hr

          dt Initiative:
          dd= object.initiative
          hr

          dt Morale:
          dd= object.morale
          hr

      div.excerpt= object.excerpt
